{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>Criar novo produto</h2>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>

    </div>

{% endblock %}