{% extends "::base.html.twig" %}

{% block body %}
    <h1>Lista de Carros</h1>

    <ul>
        {% for car in carros %}
            <li>{{ car.fabricante.nome }} - {{ car.modelo }}: ano:{{ car.ano }} / cor: {{ car.cor }}</li>
        {% endfor %}
    </ul>
{% endblock %}
