{% extends "::base.html.twig" %}

{% block body %}
    <h3>Carros Inseridos:</h3>
    <ul>
        {% for carro in carros %}
            <li>{{ carro.fabricante.nome }}-{{ carro.modelo }}: {{ carro.ano }}, {{ carro.cor }}</li>
        {% endfor %}
    </ul>
{% endblock %}